.change-password {
    &__title {
        margin-bottom: 10px;
        font-family: $userfont-sbold;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: 41px;
        text-align: center;

        @media (max-width: 1200px) {
            margin-top: 20px;
        }
    }

    &__form {
        max-width: 380px;
        margin: 0 auto 60px;
    }

    &__input {
        margin-bottom: 15px;
    }

    &__btn-wrap {
        padding-top: 25px;
        text-align: center;
    }
}
