[class^='i-']::before, [class*=' i-']::before {
    font-family: "if" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.i-copy:before {
    content: "\e92e";
}

.i-fb-fl:before {
    content: "\e92f";
}

.i-ln-fl:before {
    content: "\e930";
}

.i-ok-fl:before {
    content: "\e931";
}

.i-sk-fl:before {
    content: "\e932";
}

.i-tl-fl:before {
    content: "\e933";
}

.i-tw-fl:before {
    content: "\e934";
}

.i-vb-fl:before {
    content: "\e935";
}

.i-vk-fl:before {
    content: "\e936";
}

.i-wt-fl:before {
    content: "\e937";
}

.i-tl:before {
    content: "\e800";
}

.i-user:before {
    content: "\e900";
}

.i-user-p:before {
    content: "\e901";
}

.i-phone:before {
    content: "\e902";
}

.i-mail:before {
    content: "\e903";
}

.i-marker:before {
    content: "\e904";
}

.i-eye:before {
    content: "\e905";
}

.i-eye-full:before {
    content: "\e940";
}

.i-clock:before {
    content: "\e906";
}

.i-plus:before {
    content: "\e907";
}

.i-camera:before {
    content: "\e908";
}

.i-share:before {
    content: "\e909";
}

.i-menu:before {
    content: "\e90a";
}

.i-play:before {
    content: "\e90b";
}

.i-check:before {
    content: "\e90c";
}

.i-left:before {
    content: "\e90d";
}

.i-right:before {
    content: "\e90e";
}

.i-up:before {
    content: "\e90f";
}

.i-down:before {
    content: "\e910";
}

.i-prew:before {
    content: "\e911";
}

.i-next:before {
    content: "\e912";
}

.i-close:before {
    content: "\e913";
}

.i-search:before {
    content: "\e914";
}

.i-border:before {
    content: "\e915";
}

.i-arrow:before {
    content: "\e916";
}

.i-arrow-rigth:before {
    content: "\e93e";
}

.i-clear:before {
    content: "\e917";
}

.i-star:before {
    content: "\e918";
}

.i-all:before {
    content: "\e919";
}

.i-desk:before {
    content: "\e91a";
}

.i-chubby:before {
    content: "\e91b";
}

.i-tent:before {
    content: "\e91c";
}

.i-charger:before {
    content: "\e91d";
}

.i-bookcase:before {
    content: "\e91e";
}

.i-suits:before {
    content: "\e91f";
}

.i-document:before {
    content: "\e920";
}

.i-laptop:before {
    content: "\e921";
}

.i-houses:before {
    content: "\e922";
}

.i-car:before {
    content: "\e923";
}

.i-ok:before {
    content: "\e924";
}

.i-in:before {
    content: "\e925";
}

.i-vk:before {
    content: "\e926";
}

.i-fb:before {
    content: "\e927";
}

.i-tw:before {
    content: "\e928";
}

.i-wha:before {
    content: "\e929";
}

.i-metro:before {
    content: "\e92a";
}

.i-min-close:before {
    content: "\e92b";
}

.i-clock-back:before {
    content: "\e92c";
}

.i-instagram:before {
    content: "\e92d";
}

.i-info:before {
    content: "\e938";
}

.i-arrow-bottom:before {
    content: "\e939";
}

.i-arrow-top:before {
    content: "\e93a";
}

.i-alert:before {
    content: "\e93b";
}

.i-see:before {
    content: "\e93c";
}

.i-download:before {
    content: "\e93d";
}

.i-bar-graph:before {
    content: "\e93f";
}

.i-share-arrow:before {
    content: "\e941";
}

.i-clip:before {
    content: "\e943";
}

.i-check:before {
    content: "\e944";
}