.person {
    &__panel {
        display: flex;
        align-items: flex-end;
        padding: 30px;
        margin-bottom: 40px;
        background: #ffffff;
        border-radius: $border-radius;
        box-shadow: $shadow1;

        @media (max-width: $tablet) {
            flex-direction: column;
            align-items: baseline;
        }
    }

    &__info {
        margin-right: 120px;

        @media (max-width: $tablet) {
            order: 2;
            margin-right: 0;
        }
    }

    &__image {
        width: 350px;
        height: 400px;
        object-fit: cover;
        object-position: top center;

        @media (max-width: $tablet) {
            order: 1;
            margin-bottom: 15px;
            width: 250px;
            height: 250px;
        }
    }

    &__title {
    }

    &__age {
        margin-bottom: 30px;
        font-family: $userfont-sbold;
        font-size: 20px;
        font-weight: 600;
        color: $textcolor;
    }

    &__work {
        margin-bottom: 20px;
        font-family: $userfont-bold;
        font-size: 20px;
        font-weight: 700;
        color: $textcolor;

        @media (max-width: $tablet) {
            font-family: $userfont-sbold;
            font-weight: 600;
        }
    }

    &__short-descr {
        font-size: 18px;
        margin: 0;
    }

    &__descr {
        margin-bottom: 160px;
        @media (max-width: $tablet) {

            margin-bottom: 60px;
        }


        h2 {
            margin-bottom: 20px;
            font-family: $userfont-bold;
            font-size: 20px;
            color: $textcolor;
            font-weight: 700;
            line-height: 27px;
        }

        p {
            margin-bottom: 20px;
            font-size: 20px;
            line-height: 27px;

            + h2 {
                margin-top: 50px;
            }

            + h3 {
                margin-top: 30px;
            }
        }

        h3 {
            margin-bottom: 15px;
            font-family: $userfont-sbold;
            font-size: 18px;
            color: $textcolor;
            font-weight: 600;
            line-height: 25px;
        }
    }
}
