.tools-popup {
    position: relative;

    &__btn {
    }

    &__panel {
        display: none;
        position: absolute;
        right: 0;
        padding: 6px;
        border-radius: $border-radius;
        background-color: #ffffff;
        box-shadow: $shadow2;

        &.active {
            display: block;
        }
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__item {
        font-size: 14px;
        padding: 6px 0;
        border-top: 1px solid $border-ligth;

        &:first-child {
            padding-top: 0;
            border-top: none;
        }
    }
}
