.eror-page {


    &__title {
        margin: 55px auto 25px;
        font-family: $userfont-bold;
        font-size: 30px;
        font-weight: 700;
        line-height: 29px;
        text-align: center;

        @media (max-width: 992px) {
            margin-top: 20px;
            margin-bottom: 10px;
        }
    }

    &__image {
        position: relative;
        min-height: 40vh;
        background-image: url(../images/dist/404-bg.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        @media (max-width: 992px) {
            max-height: 30vh;
        }

        .freepik-link {
            bottom: 0;
        }
    }

    &__filter {
        .category-bar__logo,
        .category-bar-tags {
            display: none;
        }
    }

    &__back {
        display: inline-block;
        width: 100%;
        margin: 36px auto 0;
        font-size: 20px;
        line-height: 19px;
        text-align: center;

        @media (max-width: 992px) {
            margin-top: 20px;
        }

        &::before {
            font-size: 13px;
        }
    }

    &__description {
        margin-bottom: 50px;
        font-size: 30px;
        text-align: center;

        @media (max-width: 992px) {
            margin-bottom: 20px;
            font-size: 20px;
        }
    }
}
