.text-content {
    h2 {
        font-size: 30px;
        text-align: center;
        margin-bottom: 30px;
    }

    padding {
        margin-bottom: 20px;
    }

    img {
        margin-bottom: 20px;
    }
}
