.login,
.registrations,
.login-user,
.login-franchisees,
.registrations-user,
.registrations-franchisees,
.recovery,
.recovery-form,
.recovery-send {
    display: none;

    &.active {
        display: block;
    }
}

.captcha {
    margin: 0 -20px 15px;
}

@media (max-width: 992px) {
    .header.log-active {
        &::before {
            content: "";
            display: block;
            position: fixed;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: 1;
            background: #000;
            opacity: 0.2;
        }
    }
}