/*------------------------------------*\
  # Кнопка авторизации
\*------------------------------------*/

.login-wrapper {
    position: relative;

    &.active {

        .login-reg {
            opacity: 1;
            visibility: visible;
        }
    }
}