/*------------------------------------*\
  #кнопки авторизации через соц. сети
\*------------------------------------*/

.soc-login {
    padding-top: 18px;
    padding-bottom: 15px;
    display: flex;

    &__link {
        width: 80px;
        height: 50px;
        border-radius: 5px;
        box-shadow: $shadow1;
        margin-right: 18px;


        &::before {
            content: '';
            display: inline-block;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center;
            filter: grayscale(1);
            opacity: .75;
        }


        &:last-child {
            margin-right: 0;
        }

        &:hover {
            box-shadow: $shadow2;

            &::before {
                filter: none;
                opacity: 1;
            }
        }
    }
}

.gg::before {
    background-image: url(../images/dist/icon/google.svg);
    
}

.mail::before {
    background-image: url(../images/dist/icon/mail-logo.svg);
}

.yandex::before {
    background-image: url(../images/dist/icon/yandex.svg);
}