.team {

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        margin-right: 2%;
        margin-bottom: 100px;

        @media (max-width: 1200px) {           
            margin-bottom: 40px;
        }

        @media (max-width: 374px) {
            margin-right: 0;
            width: 100%;
        }

        &:nth-child(3n) {
            margin-right: 0;

            @media (max-width: 991px) {
                margin-right: 2%;
            }
        }

        &:nth-child(2n) {
            @media (max-width: 991px) {
                margin-right: 0;
            }
        }
    }
}
