/*------------------------------------*\
  #Таблица
\*------------------------------------*/

.table__responsive {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    border-radius: $border-radius;


    @media (max-width: 1500px) {
        overflow-y: auto;
    }
}

.table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    /*margin-bottom: 1rem;*/
    background-color: transparent;
    overflow-x: visible;
    cursor: default;

    &__td,
    &__th {
        padding: 10px 20px;

        @media (max-width: 1200px) {
            font-size: 14px;
        }
    }

    &__th {
        font-family: $userfont-sbold;
        font-weight: 600;
        vertical-align: middle;
        line-height: 19px;
    }

    &__th-sorting {
        display: flex;
        align-items: center;
        justify-content: center;

        .sorting {
            margin-left: 15px;
        }
    }

    &__td {
        height: 60px;
        border-top: 1px solid $gray;
    }

    &__td--w200 {
        min-width: 200px;
    }

    &__td--nowrap {
        white-space: nowrap;
    }

    &__message--succes {
        color: $color-succes;
    }

    &__message--danger {
        color: $color-warning;
    }

    &__message--disabled {
        color: rgba($gray, .7);
    }

    .icon {
        border: none;
        background-color: transparent;
        font-size: 20px;
        color: $gray;
    }

    .checkbox__value {
        padding-left: 30px;
    }

    &__td-link {
        text-decoration: underline;

        &:hover {
            color: $accent;
        }
    }

    &__td-download {

        &:hover {
            color: $color-tertiary;
        }
    }

    .status-cancel__wrap {
        position: relative;
    }

    .status-cancel {
        position: absolute;
        right: -100px;
        font-family: $userfont-bold;
        font-weight: 700;
        color: $color-warning;
        font-size: 14px;
        text-transform: lowercase;

        @media (max-width: 1400px) {
            display: block;
            position: initial;
        }
    }

    &__leave {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            display: block;
            width: 100%;
            height: 250px;
            background: linear-gradient(rgba(255,255,255,0), rgb(255,255,255));

            @media (max-width: 767px) {
                display: none;
            }
        }
    }

    &__leave--visible {
        &::after {
            display: none;
        }
    }

    &__leave-more {
        text-align: center;
    }
}




/*------------------------------------*\
  #Таблица - простая (без рамок)
\*------------------------------------*/

.table--empty {
    .table__td {
        border: none;
    }
}





/*------------------------------------*\
  #Таблица - полосатая
\*------------------------------------*/

.table-striped {

    .table__tr:nth-of-type(odd) {
        background-color: $white;
    }
}

.table-striped--even {

    .table__tr:nth-of-type(even) {
        background-color: $white;
    }
}





/*------------------------------------*\
  #Таблица - с рамкой
\*------------------------------------*/

.table-border {

    border: 1px solid $gray;

    .table__td {
        border-left: 1px solid $gray;

        &:first-child {
            border-left: none;
        }
    }

    .table__th {
        background-color: #ffffff;
        border-left: 1px solid $gray;

        &:first-child {
            border-left: none;
        }
    }
}
