.file-clip {
    position: relative;
    display: flex;
    align-items: center;
    color: $gray;
    text-decoration: none;
    cursor: pointer;

    &::before {
        font-size: 20px;
    }

    &:hover {
        color: $accent;
    }

    &__input {
        display: none;
    }

    &__added {
        font-family: $userfont-sbold;
        font-weight: 600;
        color: $textcolor;
    }

    &__del {
        color: $gray;
        margin-right: 10px;

        &::before {
            content: "\e917";
            font-family: 'If';
        }
    }
}
