.banner-card {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    cursor: default;

    &__header {
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }

    &__info {
        display: flex;
        align-items: flex-start;
    }

    &__logo {
        width: 40px;
        min-width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        object-position: top center;
        margin-right: 17px;

        .file-photo__file-button {
            width: 40px;
            min-width: 40px;
            height: 40px;

            &::before {
                font-size: 20px;
            }
        }
    }

    &__content {
        padding: 20px;
    }

    &__img {
        width: 100%;
        max-height: 200px;
        object-fit: cover;
        object-position: top center;

        &--bottom {
            max-height: 250px;
        }

        &--right-sm {
            max-width: 300px;
            max-height: 250px;
        }

        &--right-big {
            max-width: 300px;
        }

        max-height: 600px;
    }

    .upload-image__label {
        @media (max-width: $mobile) {
            margin: 0 auto;
        }
    }

    &__content-title {
        font-family: $userfont-sbold;
        font-weight: 600;
        font-size: 16px;
    }

    &__content-descr {
        font-size: 14px;
        color: $gray;
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px 20px;
    }

    &__btns {
        font-size: 20px;
        cursor: default;
    }

    &__btn {
        margin-left: 20px;
    }
}
