.chanel {
    $bg-image: 360px;

    &__cover-wrap {
        @media (max-width: $mobile) {
            padding: 0;
        }
    }

    &__cover {
        width: 100%;
        height: $bg-image;

        @media (max-width: $mobile) {
            height: $bg-image - 60px;
        }

        &--empty {
            height: 260px;
        }

        &--nopay {
            background-color: $white;
        }
    }

    &__cover-message {
        display: flex;
        align-items: center;
        margin-top: 50px;
        color: $gray;

        @media (max-width: $mobile) {
            justify-content: center;
            margin-top: 132px;
        }

        &:hover {
            color: $gray;
        }
    }

    &__cover-txt {
        display: inline-block;
        margin-bottom: 0;
        max-width: 300px;
        font-size: 18px;

        @media (max-width: $mobile) {
            font-size: 13px;
            max-width: 180px;
        }
    }

    &__cover-icon {
        display: inline-block;
        margin-right: 20px;
        font-size: 30px;

        @media (max-width: $mobile) {
            margin-right: 10px;
        }
    }

    &__top {
        position: relative;
    }

    &__card {
        position: relative;
        top: -($bg-image /3);
    }

    &__content {
        position: relative;
        top: -($bg-image /3);
        padding: 60px 0 0 0;
        display: flex;

        @media (max-width: $tablet) {
            flex-wrap: wrap;
            padding-top: 10px;
        }
    }

    &__sidebar {
        width: 30%;
        padding-top: 60px;
        padding-right: 50px;

        @media (max-width: $tablet) {
            width: 100%;
            padding-right: 0;
            padding-top: 0;
            margin-bottom: 30px;
        }
    }

    &__posts {
        position: relative;
        width: 70%;

        @media (max-width: $tablet) {
            width: 100%;
        }

        .media-feed__tools {
            padding: 0;
            margin-bottom: 30px;
        }
    }

    &__posts-list {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(48%,1fr));
        grid-gap: 1rem;
        grid-column-gap: 15px;
        grid-row-gap: 20px;

        @media (max-width: $mobile) {
            grid-template-columns: repeat(auto-fit,minmax(100%,1fr));
        }
    }
}
