.post-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    //grid-template-columns: repeat(auto-fit, 32.5%);
    grid-gap: 1rem;
    grid-column-gap: 15px;
    grid-row-gap: 20px;
}
