.post-detail {
    display: flex;
    width: 100%;

    @media (max-width: $tablet) {
        flex-wrap: wrap;
    }

    &__article {
        width: 70%;

        @media (max-width: $tablet) {
            width: 100%;
        }
    }

    &__sidebar {
        width: 30%;
        padding-left: 100px;
        padding-top: 105px;

        @media (max-width: $tablet) {
            width: 100%;
            padding-left: 0;
            padding-top: 0;
        }
    }

    &__search {
        margin-bottom: 60px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        max-width: 960px;
        margin: 0 auto 100px;

        @media (max-width: $tablet) {
            margin-bottom: 60px;
        }
    }

    &__container--media {
        .post-detail__video,
        .post-detail__gallery {
            order: 1;
        }

        .post-detail__info {
            order: 2;
        }

        .post-detail__title {
            order: 3;
        }

        .post-detail__descr {
            order: 4;
        }

        .post-detail__bottom {
            order: 5;
        }
    }

    &__title {
        font-family: $userfont-sbold;
        font-size: 30px;
        font-weight: 600;
        line-height: 41px;
        color: $textcolor;

        @media (max-width: $tablet) {
            order: 2;
            font-size: 20px;
            line-height: 27px;
        }
    }

    &__title--age {
        display: flex;
        align-items: center;

        &::after {
            content: '18+';
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
            margin-left: 20px;
            border-radius: 50%;
            background-color: rgba(0,0,0,.4);
            color: #fff;
            font-size: 9px;
            z-index: 2;
        }
    }

    &__subtitle {
        margin-bottom: 30px;
    }

    &__info {
        display: flex;
        font-size: 14px;
        line-height: 19px;
        color: $gray;

        @media (max-width: $tablet) {
            order: 1;
            margin-bottom: 10px;
        }

        @media (max-width: $mobile) {
            font-size: 12px;
            line-height: 16px;
        }
    }

    &__community-link {
        display: inline-block;
        margin-left: 10px;
        text-decoration: underline;

        @media (max-width: $mobile) {
            margin-left: 5px;
        }
    }

    &__date {
        display: none;
        margin-left: 20px;

        @media (max-width: $tablet) {
            display: block;
        }
    }

    &__content {
        padding-top: 60px;
        padding: 60px 0 100px;

        @media (max-width: $tablet) {
            order: 3;
        }

        img {
            width: 100%;
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 20px;
        }

        ul {
            list-style: none;
            padding: 0;
            margin-bottom: 20px;

            li {
                margin-bottom: 10px;

                &::before {
                    content: '\2022';
                    color: $accent;
                    margin-right: 10px;
                }
            }
        }
    }

    &__bottom {
        @media (max-width: $tablet) {
            order: 4;
        }
    }

    &__comments {
        margin: 100px 0 150px;

        @media (max-width: $tablet) {
            margin-bottom: 60px;
        }

        @media (max-width: $mobile) {
            margin-top: 60px;
        }
    }

    &__more-post {
        margin-bottom: 60px;
    }

    &__feed-bottom {
        width: 70%;

        @media (max-width: 1680px) {
            width: 100%;
        }
    }

    &__descr {
        margin-bottom: 30px;

        @media (max-width: $mobile) {
            font-size: 14px;
            line-height: 19px;
        }
    }

    &__video,
    &__gallery {
        margin-bottom: 30px;
    }

    &__gallery {
        @media (max-width: $laptop) {
            margin-left: 0;
            margin-right: 0;
        }
    }
}
