/*------------------------------------*\
  #Подменю футера
\*------------------------------------*/

.footer-submenu {
    margin: 0;
    line-height: normal;

    @media (max-width: $tablet) {
        display: none;
        padding: 10px 20px 15px;
        background-color: #ffffff;
    }

    &__list {
        @media (max-width: $tablet) {
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__item {
        margin-bottom: 10px;

        @media (max-width: $tablet) {
            width: 50%;
            padding-right: 10px;
            margin-bottom: 15px;
        }

        &:last-child {
            margin-bottom: 0;

            @media (max-width: $tablet) {
                margin-bottom: 0;
            }
        }
    }

    &__link {
        text-decoration: none;
        line-height: normal;
        display: block;
        position: relative;

        @media (max-width: $laptop) {
            font-size: 14px;
        }

        &:hover,
        &:focus {
            color: $accent;
        }
    }
}