.footer {
    background: #F6F6F6;
    padding: 50px 0px;
    width: 100%;
    display: flex;

    @media (max-width: 1200px) {
        padding: 20px 0 54px;
        font-size: 14px;
    }

    .full-container {
        align-items: flex-start;

        @media (max-width: 1200px) {
            flex-direction: column;
            width: 100%;
        }
    }

    .link {
        margin-bottom: 30px;
        text-decoration: underline;

        @media (max-width: 1200px) {
            font-size: 14px;
            margin-bottom: 17px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__logo {
        display: inline-block;
        margin-bottom: 50px;

        @media (max-width: 1200px) {
            order: 1;
            width: 166px;
            margin: 0 auto;
            margin-top: 35px;
        }
    }

    &__phone {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        &::before {
            font-size: 22px;
            margin-right: 16px;
            color: $accent;
            font-weight: 600 !important;
        }

        &:hover {
            color: $accent;
        }
    }

    &__whatsapp {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        white-space: nowrap;

        &::before {
            font-size: 24px;
            margin-right: 14px;
            color: $accent;
        }
    }

    &__whatsapp-link {
        margin-left: 4px;
        border-bottom: 1px solid $accent;
        color: $accent;
        text-decoration: none;
    }

    &__sub {
        font-family: $userfont-sbold;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 15px;
        font-size: 18px;

        @media (max-width: 1200px) {
            font-size: 14px;
            font-weight: 600;
            position: relative;
            transition: 0.2s;
        }

        &::before {
            @media (max-width: 1200px) {
                content: "\e90f";
                font-family: if;
                font-size: 16px;
                position: absolute;
                right: 20px;
                top: 50%;
                display: block;
                line-height: 1;
                margin-top: -8px;
                transform: rotate(180deg);
            }
        }

        &.active::before {
            @media (max-width: 1200px) {
                transform: rotate(0deg);
            }
        }
    }

    &__item {
        @media (max-width: 1200px) {
            width: 100%;
        }
    }

    &__item_2,
    &__item_3 {
        display: flex;
        flex-grow: 1;

        @media (max-width: 1200px) {
            display: block;
        }
    }

    &__item_1 {
        margin-right: 80px;

        @media (max-width: 1680px) {
            margin-right: 30px;
        }

        @media (max-width: 1200px) {
            order: 1;
            display: flex;
            flex-direction: column;
            padding-top: 15px;
            font-size: 16px;

            br {
                display: none;
            }
        }
    }

    &__item_2 > .footer-menu {
        margin-right: 140px;

        @media (max-width: 1680px) {
            margin-right: 30px;
        }

        &:last-child {
            margin-right: 180px;

            @media (max-width: 1680px) {
                margin-right: 30px;
            }
        }
    }

    &__mobil-wrap {

        @media (max-width: 1200px) {
            border-bottom: 0.5px solid #E0E0E0;
            margin-bottom: 15px;
        }
    }
}

.footer__item_3 .footer__mobil-wrap {
    margin-right: 140px;
    min-width: 186px;

    @media (max-width: 1680px) {
        margin-right: 30px;
    }

    @media (max-width: 1300px) {
        min-width: initial;
    }

    @media (max-width: 1200px) {
        margin-right: 0;
    }

    &:last-child {
        margin-right: 0;
    }
}
