.mfp-bg {
    background: rgba(196, 196, 196, 0.01);
    backdrop-filter: blur(7px);
    opacity: 1;
}

@-moz-document url-prefix() {
    .mfp-bg {
        background: rgba(0, 0, 0, 0.5);
    }
}

.mfp-close {
    width: 15px;
    height: 15px;
    font-size: 0;
    opacity: 1;
    top: 25px !important;
    right: 75px;
    padding: 0;
    color: $textcolor;
    line-height: 1;

    @media (max-width: 767px) {
        right: 25px;
    }

    &::before {
        display: block;
        content: "\e913";
        font-size: 15px;
        font-family: if;
    }
}

.mfp-title {
    display: none;
}

.mfp-figure {

    .mfp-close {
        padding: 0;
        top: -12px !important;
        width: 44px;
        height: 44px;
        background: #ffffff;
        border-radius: 50%;
        text-align: center;
        color: $textcolor;
        box-shadow: $shadow1;
    }
}

.popup__text {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 25px;
    text-align: center;

    @media (max-width: 767px) {
        font-size: 16px;
    }
}

.popup {
    max-width: 600px;
    background: #fff;
    border-radius: 5px;
    box-shadow: $shadow2;
    margin: 0 auto;
    position: relative;
    padding: 60px 30px 30px;

    @media (max-width: 767px) {
        .textarea {
            min-height: 100px;
        }
    }

    &--padding-sm {
        padding: 30px;

        @media (max-width: $tablet) {
            padding-top: 40px;
        }

        .mfp-close {
            right: 24px;
        }
    }

    &__title {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 30px;
        text-align: center;

        @media (max-width: $mobile) {
            margin-bottom: 30px;
            font-size: 16px;
        }

        &--big {
            font-family: $userfont-sbold;
            font-size: 30px;
            line-height: 40px;
            font-weight: 600;

            @media (max-width: $tablet) {
                font-size: 20px;
                line-height: 27px;
            }
        }
    }

    &__subtitle {
        display: inline-block;
        margin-bottom: 20px;
        font-family: $userfont-sbold;
        font-size: 20px;
        font-weight: 600;
        line-height: 27px;
        text-align: left;
    }

    &__btns-horiz {
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: $mobile-sm) {
            flex-wrap: wrap;
        }

        .btn {
            margin-right: 20px;

            @media (max-width: $mobile-sm) {
                width: 100%;
                margin-right: 0;
                margin-bottom: 20px;
            }

            &:last-child {
                margin-right: 0;

                @media (max-width: $mobile-sm) {
                    margin-bottom: 0;
                }
            }
        }
    }

    .close {
        position: initial;
        font-size: 16px;
        width: auto;
        height: 45px;
        padding: 5px 30px;
        line-height: 33px;
        color: $accent;
        background-color: transparent;
        border: 1px solid $accent;

        &::before {
            display: none;
        }
    }
}

.alert-ok {
    border: 1px solid $color-tertiary;
    border-radius: 5px;
    box-shadow: $shadow2;
    font-size: 14px;
    padding: 17px;
    text-align: center;
    background: #fff;
    z-index: 2;

    &.none {
        display: none;
    }
}

.login-reg-popup {
    max-width: 390px;
    padding: 10px 0;
    background: #fff;

    .login-reg {
        margin: 0 auto;
        position: initial;
        opacity: 1;
        visibility: visible;
        box-shadow: none;
    }
}
