/*------------------------------------*\
  #ѕароль
\*------------------------------------*/

.input-password {
    position: relative;

    &__val {
        padding-right: 73px;
    }

    &__eye {
        position: absolute;
        right: 35px;
        top: 50%;
        width: 21px;
        height: 100%;
        font-size: 0;
        color: $gray;
        border: none;
        background: transparent;
        transform: translateY(-50%);


        &::before {
            font-size: 21px;
        }

        &::after {
            content: "";
            display: block;
            width: 26px;
            height: 2px;
            background: $gray;
            position: absolute;
            z-index: 2;
            left: 50%;
            top: 50%;
            margin-top: -0.5px;
            margin-left: -13px;
            transform: rotate(-40deg);
            border-top: 1px solid #fff;
        }
    }

    &__eye--open::after {
        background-color: transparent;
    }
}