.input-date {
    &::-webkit-calendar-picker-indicator {
        color: transparent;
        opacity: 1;
        background: url(/images/dist/icon/calendar.svg) no-repeat center;
        background-size: 20px;
    }

    &__wrap {
        display: flex;
        align-items: center;
    }

    &__label {
        display: inline-block;
        min-width: 19px;
        margin-right: 5px;
        font-size: 14px;
        color: $gray;
    }
}
