/*------------------------------------*\
  #Табы
\*------------------------------------*/

.tabs-content {
    display: none;

    &.active {
        display: block;
    }
}

.tab-data-content {
    display: none;
}