/*------------------------------------*\
  #Маркированный список
\*------------------------------------*/

.list-mark {
    list-style: none;
    padding: 0;
    margin-bottom: 10px;

    &__item {
        &::before {
            content: '';
            display: inline-block;
            width: 7px;
            min-width: 7px;
            height: 7px;
            border-radius: 50%;
            background: $accent;
            margin-right: 10px;
            margin-bottom: 3.5px;
        }
    }

    .list-mark {
        padding-left: 20px;
        margin-bottom: 0;
    }
}




/*------------------------------------*\
  #Нумерованный список
\*------------------------------------*/

.list-ol {
    list-style: none;
    counter-reset: li;
    padding: 0;
    margin-bottom: 10px;

    &__item::before {
        counter-increment: li;
        content: counters(li, ".") ". ";
    }

    .list-ol {
        padding-left: 20px;
        margin-bottom: 0;
    }

    &--accent {
        .list-ol__item::before {
            font-family: $userfont-sbold;
            font-weight: 600;
            color: $accent;
        }
    }
}




/*------------------------------------*\
  #Список без стилей
\*------------------------------------*/

.list-unstylling {
    list-style: none;
    padding: 0;
    margin: 0;
}